::-webkit-scrollbar {
  width: 8px; /* Width of the scrollbar */
}

::-webkit-scrollbar-track {
  background: #f1f1f1; /* Color of the track */
  border-radius: 4px; /* Rounded corners for the track */
}

::-webkit-scrollbar-thumb {
  background: #888; /* Color of the scrollbar thumb */
  border-radius: 4px; /* Rounded corners for the thumb */
}

::-webkit-scrollbar-thumb:hover {
  background: #555; /* Color of the scrollbar thumb on hover */
}
.news-title{
  color: white;
    text-align: center;
    font-family: "Smooch Sans", serif;
    font-weight: bold;
    font-size: 2rem;
}
.create-news{
  color: white;
  padding: 5px;
  transition: .5s;
}
.create-news:hover{
  border: 1px solid white;
  border-top-left-radius: 10px;
  border-bottom-right-radius: 10px;
  color: aquamarine;
}
.text-container-recent-blog{
  height: 300px;
  overflow: hidden;
}