label{
    padding: 10px 20px;
    color: var(--blueimcs);
    font-weight: bold;
    text-transform: capitalize;
    font-family:"Smooch Sans", serif;
    font-size: 1.5rem;
}
label.text-white{
    color:white;
}