.testimony-container{
    background-color: var(--blueimcs);
}
.testimony-container h1{
    color: white;
    text-align: center;
    font-family: "Smooch Sans", serif;
    font-weight: bold;
    margin: 50px;
    font-size: 2rem;
}
/* Screen width between 600px and 900px */
@media (max-width: 600px){
    .testimony-container h1{
        font-size: 1.5rem;
        margin: 15px;
    }
  }
  